<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.student.scout">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/owl"
        android:label="@string/app_name"
        android:logo="@drawable/owl_icon"
        android:roundIcon="@drawable/owl"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ContactActivity" />
        <activity android:name=".BluetoothActivity" />
        <activity android:name=".MessageActivity" />


        <service
            android:name=".MyBlueService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>